@import "../../../styles/variables";

.welcome {
  width: 100%;
  height: fit-content;
  text-align: center;
  padding: 20px 0 40px;

  &__title {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    color: $product-card-title-color;
  }
}

@media screen and (min-width: 400px) {
  .welcome {
    &__title {
      font-size: 28px;
    }
  }
}

@media screen and (min-width: 500px) {
  .welcome {
    padding: 30px 0 40px;
    &__title {
      font-size: 32px;
    }
  }
}

@media screen and (min-width: 500px) {
  .welcome {
    &__title {
      font-size: 36px;
    }
  }
}
