@import "../../../styles/mixins";
@import "../../../styles/variables";

.error-text {
  width: 100%;
  padding: 20px 30px 0;
  @include flex-column-center-top;

  h2 {
    padding: 0 0 20px;
    font-size: 26px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }
  h3 {
    padding: 0 0 20px;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  p {
    padding: 20px 0 30px;
  }
}
