@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.slogan {
  width: 100%;
  height: 50vh;
  @include flex-column-center-center;
  padding: 20px;
  color: $white-color;
  font-weight: 600;

  &__title {
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.7rem;
    margin-top: 60px;
  }

  &__subtitle {
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.4rem;
    margin-top: 40px;
  }

  &__btn {
    align-self: flex-start;
    margin: 50px 0 10px 0;
    padding: 7.5px 15px;
    font-size: 2.5vh;
    line-height: 2.6vh;
    @include button-link-styles;

    &:hover {
      @include button-link-styles-hover;
    }
  }
}

// width
@media screen and (min-width: 400px) {
  .slogan {
    &__title {
      font-size: 1.8rem;
      line-height: 1.9rem;
      margin-top: 80px;
    }

    &__subtitle {
      font-size: 1.5rem;
      line-height: 1.6rem;
      margin-top: 30px;
    }

    &__btn {
      padding: 7.5px 15px;
      font-size: 0.9rem;
      margin: 40px 0 10px 0;
    }
  }
}

@media screen and (min-width: 500px) {
  .slogan {
    padding: 30px 20px;

    &__title {
      font-size: 2rem;
      line-height: 2.1rem;
    }

    &__subtitle {
      font-size: 1.7rem;
      line-height: 1.8rem;
    }

    &__btn {
      padding: 10px 20px;
      font-size: 0.9rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .slogan {
    height: 100vh;
    padding: 50px;
    margin-top: -100px;

    &__title {
      font-size: 3.5rem;
      line-height: 3.6rem;
    }

    &__subtitle {
      font-size: 2.5rem;
      line-height: 2.6rem;
      margin: 80px 0 0;
    }

    &__btn {
      font-size: 1rem;
      margin: 80px 0 0;
    }
  }
}

// height
@media screen and (min-height: 600px) {
  .slogan {
    padding: 20px 20px 80px;
  }
}

@media screen and (min-height: 700px) {
  .slogan {
    padding: 20px 20px 100px;

    &__subtitle {
      margin-top: 60px;
    }

    &__btn {
      margin: 60px 0 10px 0;
    }
  }
}

@media screen and (min-height: 800px) {
  .slogan {
    padding: 20px 20px 130px;

    &__title {
      margin-top: 40px;
    }
    &__subtitle {
      margin-top: 80px;
    }

    &__btn {
      margin: 80px 0 10px 0;
    }
  }
}

@media screen and (min-height: 900px) {
  .slogan {
    padding: 20px 20px 170px;

    &__title {
      margin-top: 20px;
    }

    &__subtitle {
      margin-top: 80px;
    }

    &__btn {
      margin: 80px 0 10px 0;
    }
  }
}

//width and height
@media screen and (min-width: 560px) and (min-height: 300px) {
  .slogan {
    padding: 30vw 20px 150px;

    &__title {
      font-size: 6vw;
      line-height: 6.1vw;
    }

    &__subtitle {
      margin-top: 6vw;
      font-size: 4vw;
      line-height: 4.1vw;
    }

    &__btn {
      margin: 6vw 0 10px;
      padding: 2vw 2.2vw;
      font-size: 2.5vw;
      line-height: 2.6vw;
    }
  }
}

@media screen and (min-width: 650px) and (min-height: 320px) {
  .slogan {
    padding: 25vw 20px 150px;
  }
}

//width and height - tablets and small desktops
@media screen and (min-width: 450px) and (min-height: 700px) {
  .slogan {
    padding: 25vw 20px 150px;

    &__title {
      font-size: 6vh;
      line-height: 6.1vh;
    }

    &__subtitle {
      margin-top: 9vh;
      font-size: 4vh;
      line-height: 4.1vh;
    }

    &__btn {
      margin: 9vh 0 10px;
      padding: 2vh 2.2vh;
      font-size: 2.5vh;
      line-height: 2.6vh;
    }
  }
}

@media screen and (min-width: 992px) and (min-height: 700px) {
  .slogan {
    margin-top: -20vh;

    &__title {
      font-size: 9vh;
      line-height: 9.1vh;
    }

    &__subtitle {
      margin-top: 9vh;
      font-size: 6vh;
      line-height: 6.1vh;
    }

    &__btn {
      margin: 9vh 0 10px;
      padding: 3vh 3.2vh;
      font-size: 3.5vh;
      line-height: 3.6vh;
    }
  }
}
