@import "../../../../styles/variables";

.product-page-promo-text {
  width: 450px;
  height: fit-content;
  display: none;
  padding: 30px;
  margin-top: -100px;
  font-weight: $product-page-titles-font-weight;
  font-size: 30px;
  line-height: 36px;
  border-radius: 10px;
  color: $white-color;
  background-color: $product-page-promo-text-color;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .product-page-promo-text {
    display: flex;
  }
}
