@import "../../../../styles/variables";

.product-page-promo-text {
  width: 400px;
  height: fit-content;
  display: none;
  padding: 30px;
  color: $white-color;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  background-color: $product-page-promo-text-color;
}

@media screen and (min-width: 992px) {
  .product-page-promo-text {
    display: flex;
  }
}
