@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.product-page-benefits {
  width: 100%;
  @include flex-center-center;
  gap: 50px;
  justify-content: space-evenly;
  padding: 30px 10px 20px;

  &__list {
    width: 100%;
    @include flex-column-center-center;
    font-size: 17px;
    line-height: 20px;
  }

  &__item {
    width: 100%;
    padding: 10px 5% 0;
  }

  &__item-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: 500;
  }

  &__number {
    display: flex-block;
    font-weight: 700;
    color: $product-page-benefits-text-color;
  }

  &__text {
    display: flex;
    margin-left: 15px;
  }

  &__line {
    height: 1px;
    border: none;
    background-color: $product-page-benefits-text-color;
  }
}

@media screen and (min-width: 500px) {
  .product-page-benefits {
    &__item {
      padding: 10px 8% 0;
    }
  }
}

@media screen and (min-width: 600px) {
  .product-page-benefits {
    padding: 30px 30px 20px;
    &__list {
      font-size: 18px;
      line-height: 22px;
    }

    &__item {
      max-width: 600px;
      min-width: 45%;
    }
  }
}

@media screen and (min-width: 600px) {
  .product-page-benefits {
    padding: 30px 30px 20px;
    &__list {
      font-size: 18px;
      line-height: 22px;
    }

    &__item {
      padding: 10px 2% 0;
    }
  }
}

@media screen and (min-width: 992px) {
  .product-page-benefits {
    @include flex-center-center;
  }
}

@media screen and (min-width: 1500px) {
  .product-page-benefits {
    &__item {
      max-width: 800px;
      padding: 10px 2% 0 8%;
    }
  }
}
