@import "../../../styles/mixins";

.further-information {
  @include product-component;

  &__section-title {
    font-weight: 700;
    margin: 5px 0;
  }
}

@media screen and (min-width: 600px) {
  .further-information {
    font-size: 18px;
    line-height: 19px;
  }
}

@media screen and (min-width: 800px) {
  .further-information {
    @include product-component-lg;
  }
}
