@import "../../styles/variables";

.text {
  width: 100%;
  padding: 30px 8% 20px;

  &__title {
    width: 100%;
    font-size: 7vw;
    line-height: 7.1vw;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $product-card-title-color;
  }

  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }

  &__content {
    font-size: 15px;
    line-height: 20px;
  }
}

@media screen and (min-width: 400px) {
  .text {
    &__title {
      font-size: 6vw;
      line-height: 6.1vw;
    }
  }
}

@media screen and (min-width: 400px) {
  .text {
    &__title {
      font-size: 5vw;
      line-height: 5.1vw;
    }
  }
}

@media screen and (min-width: 600px) {
  .text {
    &__title {
      font-size: 4vw;
      line-height: 4.1vw;
      margin: 20px 0;
    }

    &__content {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

@media screen and (min-width: 992px) {
  .text {
    padding: 30px 8.5% 20px;
    &__title {
      font-size: 40px;
      line-height: 44px;
      margin: 40px 0;
    }
  }
}

@media screen and (min-width: 1300px) {
  .text {
    padding: 30px 8.5% 20px;
  }
}
