.pharmacological-properties-item {
  margin-bottom: 25px;
  &__title {
    padding: 5px 0;
    margin: 0 0 10px;
    font-size: clamp(10px, 5vw, 17px);
    font-weight: 700;
    text-transform: uppercase;
  }
  &:last-child {
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 600px) {
  .pharmacological-properties-item {
    &__title {
      font-size: clamp(10px, 5vw, 18px);
      line-height: 19px;
    }
  }
}
