.pharmacological-properties-item {
  margin-bottom: 25px;
  &__title {
    padding: 5px 0;
    margin: 0 0 10px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 600px) {
  .pharmacological-properties-item {
    &__title {
      font-size: 18px;
      line-height: 19px;
    }
  }
}
