@import "../../../styles/variables";

.ProductPageTitles {
  width: 90%;
  padding: 30px 8% 20px;

  &__title {
    width: 100%;
    font-size: 17px;
    font-weight: 700;
    padding: 15px 0;
    text-transform: uppercase;
    color: $product-card-title-color;

    &--center {
      text-align: center;
    }
    &--right {
      text-align: right;
    }
  }
}

@media screen and (min-width: 600px) {
  .text {
    &__title {
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 1300px) {
  .ProductPageTitles {
    padding: 30px 10% 20px;
  }
}
