@import "../../../styles/variables";
@import "../../../styles/mixins";

.product-page-titles {
  width: 100%;
  margin-top: 150px;
  @include flex-column-center-center;
  color: $white-color;
  font-weight: $product-page-titles-font-weight;

  &__title {
    width: 100%;
    height: 90px;
    font-size: 10vw;
    line-height: 11vw;
    padding: 0 2%;
    margin-top: 5vh;
    text-transform: uppercase;

    &--center {
      text-align: center;
    }
    &--right {
      text-align: right;
    }
  }

  &__subtitle {
    width: 100%;
    height: 90px;
    padding: 0 2%;
    margin: 0.5vh 0;
    font-size: 7vw;
    line-height: 8vw;
  }
}

@media screen and (min-height: 650px) {
  .product-page-titles {
    &__subtitle {
      margin: 3vh 0;
    }
  }
}

@media screen and (min-height: 750px) {
  .product-page-titles {
    &__subtitle {
      margin: 5vh 0;
    }
  }
}

@media screen and (min-height: 850px) {
  .product-page-titles {
    &__title {
      margin-top: 8vh;
    }

    &__subtitle {
      margin: 8vh 0;
    }
  }
}

@media screen and (min-height: 950px) {
  .product-page-titles {
    &__title {
      margin-top: 10vh;
    }

    &__subtitle {
      margin: 10vh 0;
    }
  }
}

@media screen and (min-width: 600px) {
  .product-page-titles {
    &__title {
      font-size: 60px;
      line-height: 66px;
    }

    &__subtitle {
      font-size: 40px;
      line-height: 46px;
    }
  }
}

@media screen and (min-width: 992px) {
  .product-page-titles {
    &__title {
      margin: 10vh 0;
      font-size: 90px;
      line-height: 96px;
    }

    &__subtitle {
      display: none;
    }
  }
}
