.productPageImg {
  width: 100vw;
  height: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 500px) {
  .productPageImg {
    width: 500px;
    height: 400px;
    border: 1px solid rgba(241, 241, 241, 0.3);
    border-radius: 10px;
  }
}

@media screen and (max-width: 1100px) and (max-height: 450px) {
  .productPageImg {
    width: 200px;
    height: 160px;
    border: 1px solid rgba(241, 241, 241, 0.3);
    border-radius: 10px;
  }
}
