@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.product-card {
  width: 100%;
  max-width: 270px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;

  &__link {
    width: 100%;
    height: 100%;
    @include flex-column-center-top;
    color: $product-card-text-color;
  }

  &__img-container {
    width: 100%;
    height: 250px;
    @include flex-column-center-center;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
    background: linear-gradient(
      to bottom,
      $product-card-bg-blue-color 0%,
      $product-card-bg-light-violet-color 80%
    );
  }

  &__img {
    width: 100%;

    object-fit: contain;

    &--landscape {
      margin-top: -135px;
    }

    &--portrait {
      scale: 0.7;
    }
  }

  &__title {
    width: 97%;
    height: 35px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: $product-card-title-color;
  }

  &__desc {
    width: 97%;
    height: 75px;
    @include flex-column-center-center;
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    padding: 4px 0;
    overflow: hidden;
  }
}

@media screen and (min-width: 600px) {
  .product-card {
    &__title {
      height: 40px;
      font-size: 22px;
      line-height: 26px;
    }
    &__desc {
      font-size: 16px;
    }
  }
}
