@import "../../../../styles/variables";

.product-card {
  width: 100%;
  max-width: 270px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 1.5s ease;

  &:hover {
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
    transition: all 0.7s ease;
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $product-card-text-color;
  }

  &__img-container {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid rgba(241, 241, 241, 0.3);
    border-radius: 10px;
    background: linear-gradient(
      to bottom,
      $product-card-bg-blue-color 0%,
      $product-card-bg-light-violet-color 80%
    );
  }

  &__img {
    width: 100%;
    object-fit: contain;
  }

  &__title {
    width: 97%;
    height: 40px;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    color: $product-card-title-color;
  }

  &__desc {
    width: 97%;
    height: 67px;
    text-align: center;
    font-size: 15px;
    padding: 4px 0;
    overflow: hidden;
  }
}

@media screen and (min-width: 600px) {
  .product-card {
    &__title {
      font-size: 18px;
    }
    &__desc {
      font-size: 16px;
    }

    &__btn {
      font-size: 16px;
    }
  }
}
