@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin flex-align-items-center {
  display: flex;
  align-items: center;
}

@mixin flex-center-center {
  @include flex-align-items-center;
  justify-content: center;
}

@mixin flex-center-top {
  @include flex-align-items-center;
  justify-content: flex-start;
}

@mixin flex-row-center-center {
  @include flex-center-center;
  flex-direction: row;
}

@mixin flex-column-center-center {
  @include flex-center-center;
  flex-direction: column;
}

@mixin flex-row-center-top {
  @include flex-center-top;
  flex-direction: row;
}

@mixin flex-column-center-top {
  @include flex-center-top;
  flex-direction: column;
}

@mixin header-main-properties {
  @include flex-column-center-center;
  width: 100%;
  height: 60px;
  // background-color: $header-background-color;
  // color: $third-color;
}

@mixin footer-main-properties {
  @include flex-column-center-center;
  width: 100%;
  height: 100px;
  // background-color: $header-background-color;
  // color: $third-color;
}

@mixin box-shadow($opacity: 0.3) {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, $opacity);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, $opacity);
  box-shadow: 0 2px 4px rgba(0, 0, 0, $opacity);
}

//////////////// Product ////////////////

@mixin product-component {
  width: 100%;
  height: fit-content;
  padding: 20px 1.5%;
}
