$white-color: #ffffff;
$white-color-hover: #ebebeb;
$main-blue: #9dc5fe;

$footer-blue: #94d9fd;
$footer-light-violet: #bab9de;
$footer-heading-color: #e9e9e9;
$footer-light-blue: rgb(235, 248, 255);
$footer-darker-blue: #83d2fd;

$logo-line2-color: #f3f3f3;

$product-card-title-color: #545ed4;
$product-card-text-color: #6f76cb;
$product-card-text-color-hover: rgb(111, 118, 203, 0.9);

$product-card-bg-blue-color: #a6d2f1;
$product-card-bg-light-violet-color: rgb(192, 193, 217);

$product-page-promo-text-color: rgba(255, 255, 255, 0.15);
$product-page-benefits-text-color: rgb(180, 180, 180);

$home-page-link-color: #224369;
$home-page-link-color-hover: #4a90e2;
