@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.how-to-take {
  width: 100%;
  height: fit-content;
  padding: 20px 2%;

  &__container {
    width: 100%;
    @include flex-column-center-center;
    padding: 15px 2%;
    border-radius: 15px;

    background: radial-gradient(
        at top left,
        $footer-light-blue,
        transparent 80%
      ),
      radial-gradient(at top right, $footer-light-blue, transparent 60%),
      radial-gradient(at bottom left, $footer-blue, transparent 60%),
      radial-gradient(at bottom right, $footer-blue, transparent 60%);
  }

  &__title {
    width: 100%;
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
    text-align: left;
  }

  &__description {
    width: 100%;
    padding: 5px 0;
    font-size: 17px;
  }

  &__description:nth-of-type(1) {
    margin-top: 20px;
  }

  &__details-container {
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    border-radius: 10px;
    background-color: $white-color;
  }

  &__text {
    padding: 5px 0;
    font-size: 17px;

    &--bold {
      font-size: 17px;

      font-weight: 700;
      margin: 5px 0;
    }
  }
}

@media screen and (min-width: 600px) {
  .how-to-take {
    &__title {
      font-size: 60px;
      line-height: 62px;
    }

    &__description {
      font-size: 18px;
    }

    &__text {
      font-size: 18px;
      line-height: 19px;
      &--bold {
        font-size: 18px;
        line-height: 19px;
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  .how-to-take {
    //  padding: 20px 10%;
  }
}
