@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.how-to-take {
  @include product-component;

  &__description {
    width: 100%;
    padding-bottom: 10px;
    font-size: 17px;
  }

  &__text {
    padding: 5px 0;
    font-size: 17px;

    &--bold {
      font-size: 17px;
      font-weight: 700;
      margin: 5px 0;
    }
  }
}

@media screen and (min-width: 600px) {
  .how-to-take {
    &__description {
      font-size: 18px;
    }

    &__text {
      font-size: 18px;
      line-height: 19px;
      &--bold {
        font-size: 18px;
        line-height: 19px;
      }
    }
  }
}
