@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.about-greeting-slogan {
  @include flex-column-center-center;
  gap: 10vh;
  padding: 0 2vw;
  font-weight: 600;
  text-align: center;
  color: $white-color;
  &__title {
    text-transform: uppercase;
    font-size: 9vw;
    line-height: 10vw;
  }

  &__subtitle {
    font-size: 8vw;
    line-height: 9vw;
  }
}

@media screen and (min-width: 500px) {
  .about-greeting-slogan {
    gap: 7vh;
    &__title {
      font-size: 8vw;
      line-height: 9vw;
    }

    &__subtitle {
      font-size: 7vw;
      line-height: 8vw;
    }
  }
}

@media screen and (min-width: 600px) {
  .about-greeting-slogan {
    padding: 0 3vw;
    gap: 5vh;
    &__title {
      font-size: 6vw;
      line-height: 7vw;
    }

    &__subtitle {
      font-size: 5vw;
      line-height: 6vw;
    }
  }
}

@media screen and (min-width: 700px) {
  .about-greeting-slogan {
    gap: 4vh;
    &__title {
      font-size: 5vw;
      line-height: 6vw;
    }

    &__subtitle {
      font-size: 4vw;
      line-height: 5vw;
    }
  }
}

@media screen and (min-width: 450px) and (min-height: 300px) {
  .about-greeting-slogan {
    &__title {
      font-size: 5vw;
      line-height: 6vw;
    }

    &__subtitle {
      font-size: 4vw;
      line-height: 5vw;
    }
  }
}

@media screen and (min-width: 650px) and (min-height: 400px) {
  .about-greeting-slogan {
    gap: 1vh;
    &__title {
      font-size: 4vw;
      line-height: 5vw;
    }

    &__subtitle {
      font-size: 3vw;
      line-height: 4vw;
    }
  }
}

@media screen and (min-width: 450px) and (min-height: 992px) {
  .about-greeting-slogan {
    gap: 10vh;
    &__title {
      font-size: 9vw;
      line-height: 10vw;
    }

    &__subtitle {
      font-size: 8vw;
      line-height: 9vw;
    }
  }
}

@media screen and (min-width: 1200px) and (min-height: 1200px) {
  .about-greeting-slogan {
    &__title {
      font-size: 7vw;
      line-height: 8vw;
    }

    &__subtitle {
      font-size: 6vw;
      line-height: 7vw;
    }
  }
}
