@import "../../styles/_variables.scss";

.logo-component {
  width: 120px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
    padding-top: 3px;
    text-transform: uppercase;
    color: white;
  }

  &__bottom {
    font-size: 13px;
    color: $logo-line2-color;
  }
}
