@import "../../styles/_variables.scss";
@import "../../styles/mixins";

.logo-component {
  width: 130px;
  height: fit-content;
  @include flex-center-center;

  &__link {
    width: 100%;
    height: 100%;
    @include flex-center-center;
  }

  &__title {
    width: 50px;
    @include flex-column-center-center;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
    padding-top: 3px;
    text-transform: uppercase;
    color: $white-color;
  }

  &__bottom {
    font-size: 13px;
    color: $white-color;
  }
}
