.product-card-list {
  width: 100%;
  height: fit-content;
  display: grid;
  justify-items: center;
  gap: 60px 40px;
  padding: 0 8% 60px;
}

@media screen and (min-width: 700px) {
  .product-card-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px 40px;
  }
}

@media screen and (min-width: 1050px) {
  .product-card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1450px) {
  .product-card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1800px) {
  .product-card-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

// width and height
@media screen and (min-width: 550px) and (min-height: 300px) {
  .product-card-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px 40px;
  }
}

@media screen and (min-width: 1000px) and (min-height: 450px) {
  .product-card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1300px) and (min-height: 450px) {
  .product-card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
