@import "../../../styles/mixins";
@import "../../../styles/variables";

.product-ingredients {
  width: 100%;
  height: fit-content;
  padding: 20px 1.5%;

  &__container {
    width: 100%;
    @include flex-column-center-center;
    padding: 15px 1%;
    border-radius: 15px;
    background: $product-page-details-bg;
  }

  &__details-container {
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    border-radius: 10px;
    background-color: $white-color;
  }

  &__block {
    margin-bottom: 10px;
  }

  &__block-desc,
  &__table-title {
    margin: 5px 0;
    font-size: 17px;
    line-height: 23px;
    font-weight: 700;
  }

  &__block-item,
  &__table-desc {
    padding: 5px 0;
    font-size: 17px;
    line-height: 23px;
  }

  &__table {
    display: none;
    margin-top: 20px;
    font-size: 14px;
    &-head {
      font-weight: 600;
    }

    &__table-tr {
      width: 800px;
    }

    &-th,
    &-td {
      vertical-align: middle;
      border: 1px solid $product-page-table-cell-border;

      &-name {
        width: 400px;
        height: 50px;
        padding: 4px 2px 4px 6px;
      }

      &-per-capsule,
      &-daily-value {
        width: 100px;
        text-align: center;
        padding: 2px 2px;
      }

      &-per-capsule {
        letter-spacing: -1px;
        min-width: 76px;
      }
    }
  }
}

@media screen and (min-width: 450px) {
  .product-ingredients {
    &__table {
      display: block;
      font-size: 15px;
    }
  }
}

@media screen and (min-width: 600px) {
  .product-ingredients {
    &__block-desc,
    &__block-item,
    &__table-title,
    &__table-desc {
      font-size: 18px;
      line-height: 24px;
    }

    &__table {
      font-size: 16px;
      &-head {
        min-height: 25px;
      }
      &-th-name {
        padding: 5px 0;
      }

      &-th-per-capsule,
      &-th-daily-value {
        padding: 2px 5px;
      }

      &-per-capsule {
        letter-spacing: none;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .product-ingredients {
    &__table {
      font-size: 17px;
    }
  }
}
