@import "../../styles/variables.scss";

.backHomeBtn {
  width: 100%;
  padding: 20px;
  z-index: 5;

  &__link {
    font-size: 14px;
    color: $white-color;
    text-decoration: none;
    transition: all 1.5s ease;

    &:hover {
      color: $white-color-hover;
      text-decoration: underline;
      transition: all 0.7s ease;
    }
  }
}
