@import "../../../styles/variables";
@import "../../../styles/mixins";

.error-btns {
  gap: 20px;
  padding: 40px 0 20px;

  &__link {
    padding: 10px 20px;
    border-radius: 4px;
    @include button-link-styles;

    &:hover {
      @include button-link-styles-hover;
    }
  }
}

@media screen and (min-width: 500px) {
  .error-btns {
    flex-direction: row;
  }
}

@media screen and (max-width: 900px) and (max-height: 450px) {
  .error-btns {
    padding: 0px 0 20px;
  }
}
