@import "../../../styles/mixins";
@import "../../../styles/variables";

.greeting {
  width: 100%;
  height: 100%;

  &-container {
    width: 100%;
    min-height: 101vh;
    @include flex-column-center-center;
    margin-top: -100px;
    @include product-gradient-bg(
      $greeting-gradient-corner1,
      $greeting-gradient-corner2,
      $greeting-gradient-corner3,
      $greeting-gradient-corner4,
      $greeting-gradient-corner5
    );
  }
}

@media screen and (min-width: 992px) {
  .greeting {
    &-container {
      flex-direction: row;
      padding: 50px;
    }
  }
}
