@import "../../styles/variables.scss";
@import "../../styles/mixins";

.loader {
  width: 100%;
  min-height: 100vh;
  position: fixed;

  @include flex-column-center-center;
  @include product-gradient-bg(
    $greeting-gradient-corner1,
    $greeting-gradient-corner2,
    $greeting-gradient-corner3,
    $greeting-gradient-corner4,
    $greeting-gradient-corner5
  );

  z-index: 1000;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: opacity 0.5s ease, visibility 0.5s ease;

  &--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &__text {
    font-size: 10vw;
    font-weight: 700;
    color: $white-color;
    z-index: 1;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 500px) {
  .loader {
    &__text {
      font-size: 50px;
    }
  }
}

@media screen and (min-width: 992px) {
  .loader {
    &__text {
      font-size: 60px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .loader {
    &__text {
      font-size: 70px;
    }
  }
}

@media screen and (min-width: 1600px) {
  .loader {
    &__text {
      font-size: 80px;
    }
  }
}

@media screen and (min-width: 2000px) {
  .loader {
    &__text {
      font-size: 90px;
    }
  }
}
