@import "../../styles/variables.scss";
@import "../../styles/mixins";

.loading {
  width: 100%;
  min-height: 70vh;
  @include flex-column-center-center;

  &__text {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 700;
    color: $product-card-title-color;
  }
}

@media screen and (max-width: 1100px) and (max-height: 450px) {
  .loading {
    .logo-full {
      margin-top: -55px;
    }

    &__text {
      margin-top: -15px;
    }
  }
}
