@import "../../styles/variables.scss";
@import "../../styles/mixins";

.loader {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  @include flex-column-center-center;

  @include product-gradient-bg(
    $greeting-gradient-corner1,
    $greeting-gradient-corner2,
    $greeting-gradient-corner3,
    $greeting-gradient-corner4,
    $greeting-gradient-corner5
  );

  z-index: 1000;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: opacity 1s ease, visibility 1s ease;

  &--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &__logo-container {
    width: 100%;
    height: 180px;
    margin-top: -30px;
    @include flex-column-center-center;
    overflow: hidden;
  }

  &__text {
    margin-top: 50px;
    font-size: 22px;
    font-weight: 700;
    color: $product-card-title-color;
    z-index: 1;
  }
}

@media screen and (max-width: 1100px) and (max-height: 450px) {
  .loader {
    .logo-full {
      margin-top: -55px;
    }

    &__text {
      margin-top: -15px;
    }
  }
}

@media screen and (min-width: 500px) {
  .loader {
    &__logo-container {
      height: 220px;
    }
  }
}

@media screen and (min-width: 700px) {
  .loader {
    &__logo-container {
      height: 250px;
    }
  }
}
