.product-page-benefits-img {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;

  &__img {
    width: 100%;
    max-width: 700px;
    height: 100%;
    border-radius: 10px;
  }
}

@media screen and (min-width: 992px) {
  .product-page-benefits-img {
    display: flex;
    justify-content: center;
  }
}
