@import "../../../../styles/mixins";

.productPageImg {
  width: 100%;
  height: 75vw;
  max-height: 250px;
  @include flex-column-center-center;
  margin-bottom: 10px;

  &__img {
    width: 100%;
    object-fit: contain;

    &--landscape {
      margin-top: -30vh;
      scale: 1;
    }

    &--portrait {
      margin-top: -10vh;
      scale: 0.7;
    }
  }
}

@media screen and (min-width: 350px) {
  .productPageImg {
    max-height: 300px;
  }
}

@media screen and (min-width: 400px) {
  .productPageImg {
    max-height: 400px;
  }
}

@media screen and (min-width: 500px) {
  .productPageImg {
    width: 500px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1100px) and (max-height: 450px) {
  .productPageImg {
    width: 200px;
    height: 160px;
    border-radius: 10px;
  }
}
