@import "../../../../../styles/variables.scss";
@import "../../../../../styles/mixins";

.product-card-btn {
  height: 30px;
  @include flex-center-center;
  padding: 25px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: $product-card-btn-bg-color;
  transition: all 1.5s ease;

  &:hover {
    background-color: $product-card-text-color-hover;
    transition: all 0.7s ease;
  }
}
