@import "../../../../../styles/variables.scss";

.product-card-btn {
  width: 140px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  background-color: $product-card-text-color;
  transition: all 1.5s ease;

  &:hover {
    background-color: $product-card-text-color-hover;
    transition: all 0.7s ease;
  }
}
