.pharmacological-properties-item-data {
  font-size: 17px;

  &__title {
    font-weight: 700;
    margin: 5px 0;
  }
  &__text {
    padding: 5px 0;
  }
}

@media screen and (min-width: 600px) {
  .pharmacological-properties-item-data {
    font-size: 18px;
    line-height: 19px;
  }
}
