@import "../../../styles/mixins";
@import "../../../styles/variables";

.about-common-comp {
  width: 100%;
  @include flex-column-center-center;
  padding: 10px;
  margin-bottom: 33px;
  border-radius: 15px;
  background: $product-page-common-comp-bg;

  &__content {
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    border-radius: 10px;
    background-color: $white-color;
    overflow: hidden;
  }
}

@media screen and (min-width: 400px) {
  .about-common-comp {
    padding: 15px;

    &__content {
      padding: 10px;
    }
  }
}

@media screen and (min-width: 500px) {
  .about-common-comp {
    padding: 20px;

    &__content {
      padding: 15px;
    }
  }
}

@media screen and (min-width: 500px) {
  .about-common-comp {
    &__content {
      padding: 20px;
    }
  }
}

//width and height
@media screen and (min-width: 550px) and (min-height: 300px) {
  .about-common-comp {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 550px) and (min-height: 500px) {
  .about-common-comp {
    margin-bottom: 33px;
  }
}
