@import "./styles/variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&display=swap");

* {
  font-family: "Montserrat", "Arial", sans-serif;
}

html {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
  min-width: 300px;
  height: 100%;
  min-height: 100vh;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    $main-blue 0%,
    $white-color 90vh,
    $white-color 100%
  );
  overflow-x: hidden;
}

main {
  width: 100%;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
