@import "../../../styles/mixins";
@import "../../../styles/variables";

.product-contraindications {
  @include product-component;
}

@media screen and (min-width: 800px) {
  .product-contraindications {
    @include product-component-lg;
  }
}
